#sidebar{
    position: fixed;
    top: 0px;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #fcf8f8;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.4);
}

#logo{
    margin-left: 30px;
}
h4{
    font-size: 15px;
    margin-left: 40px;
    color: rgb(18, 124, 83) ;
}

div ul{
    cursor: pointer;
    line-height: 0.8rem;
    font-size: small;
}

div ul:visited,
div ul:hover,
div ul:active {
  color: rgb(18, 124, 83);
}

#main{
    position: fixed;
    top: 100px;
    left: 250px;
    width: 70%;
    height: 95px;
    background-color: #fafafa;
    box-sizing: border-box;
    z-index: 1;
    flex-direction: row;
    display: flex;
    box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


#tex{
    line-height: 10px;
    margin-top: 12px;
    margin: 30px;
    font-size: larger;
    padding: 5px;
    cursor: pointer;
}
#tex p{
    font-size: small;
}

