#farmermain{
    position: fixed;
    top: 220px;
    left: 250px;
    width: 70%;
    height: 70%;
    background-color: #fafafa;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 2px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* NAV ITEMS */
#inside_links {
    list-style: none;
    display: inline-block;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 0px;
    margin: 0;
    margin-left: 15px;
   
  }
  
  #personal{
    display: block;
    margin: 15px;
    cursor: pointer;
  }

  #inside_links:hover{
    text-decoration: underline;
    padding-bottom: 5px;
   
  }


