.search-bar {
    background-color: #FBFBFB;
    border-radius: 20px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    height: 20px;
    margin-left: 20px;
    margin-top: 12px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    flex: 1;
    background-color: #FBFBFB;
 
  }
  
  .search-icon {
    margin-left: 10px;
    color: rgb(18, 124, 83);
  }


  #bookicon{
    width: 2.4rem;
    height: 2.4rem;
    margin: 30px;
    margin-right: 8px;
    
  }